@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/mixins";

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;

  &--button {
    width: 32px;
    height: 32px;

    @include buttonsText;

    border: 1px solid #E2E6E9;

    &-next {
      transform: rotate(-90deg);
    }

    &-back {
      transform: rotate(90deg);
    }
  }
}

.isActive {
  background-color: #313237;
  color: white;
}
