@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/colors";
@import "../../assets/mixins";

.Loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#loader {
  display: flex;
  justify-content: center;
  gap: 6px;
}

#loader span {
  display: inline-block;
  width: 5px;
  height: 20px;
  background-color: $elements;
}

#loader span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

#loader span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

#loader span:nth-child(3) {
  animation: grow 1s ease-in-out 0.3s infinite;
}

#loader span:nth-child(4) {
  animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.8);
  }
}
