@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/mixins";

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 60%;
  left: 50%;
  height: 15px;
  width: 15px;
  background-color: $red;
  border-radius: 50%;
  border: 1px solid $white;

  @include onTablet {
    left: 50%;
    bottom: 45%;
    height: 16px;
    width: 16px;
  }
}

.items {
  color: $white;
  font-size: 8px;
  @include smallText;
}
