@import '../../assets/colors.scss';
@import "../../assets/mixins";

.Search {
  position: relative;

  display: flex;
  align-items: center;

  height: 40px;
  width: 100%;

  margin-bottom: 24px;
  &--input {
    height: 40px;
    width: 100%;
    padding: 10px 10px 10px 42px;

    @include buttonsText;
    color: $primary;

    border: 1px solid $icons;
    &-hidden {
      visibility: hidden;
    }

    &-on {
      visibility: visible;
    }
  }

  &--btn {
    position: absolute;

    height: 40px;
    width: 40px;
    border: 1px solid $icons;

    z-index: 100;
  }

  &--icon {
    width: 16px;
    height: 16px;

    pointer-events: none;
  }
}
