@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/colors";
@import "../../assets/mixins";

.item__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  flex-grow: 1;

  background-color: $white;
  border: 1px solid $elements;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
  }

  &_close {
    width: 16px;
    height: 16px;
    display: block;

    color: $secondary;
    :hover {
      transition: 0.3s;
      color: $primary;
    }
  }

  &_closeAndFoto {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &_phone {
    object-fit: contain;
    object-position: center;
    height: 60px;
    width: 60px;
  }

  &_model {
    @include secondaryText;
    font-weight: 600;
    color: $primary;
  }

  &_buttons {
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }

  &_number {
    width: 32px;
    text-align: center;
    
    @include buttonsText;
    color: $primary;
  }

  &_plus, &_minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    background-color: $white;
    border: 1px solid $icons;
    cursor: pointer;

    transition: border, color 0.3s;

    &_disabled {
      color: $secondary;
      cursor: auto;
      border: 1px solid $elements;
    }

    &:hover:not(.item__container_plus_disabled) {
      border: 1px solid $primary;
    }
  }

  &_price {
    min-width: 80px;

    @include headline-2;
    text-align: end;
    color: $primary;

    @include onTablet {
      @include headline-3;
    }
  }
}

.item_phone_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  gap: 23px;

  @include onTablet {
    justify-content: space-between;
    gap: 32px;
  }
}

.item_price_info {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  gap: 48px;

  @include onTablet {
    justify-content: space-between;
    align-items: center;
  }
}
