@import "../../assets/normalize";
@import '../../assets/colors.scss';
@import '../../assets/variables';
@import "../../assets/mixins";

.notFound {
  &--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--title {
    @include headline-1;
    margin-bottom: 40px;
  }
}

.homeButton {
  @include buttonsText;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 48px;
  margin-bottom: 80px;

  text-decoration: none;
  background: #313237;
  border-radius: 4px;

  color: $white;
}